python-dotenv
py-cord
motor
pymongo
dnspython
paramiko
matplotlib
numpy
pandas
psutil
aiohttp
aiofiles
pytz
aiofiles
aiohttp
dnspython
matplotlib
motor
numpy
pandas
paramiko
psutil
py-cord
pymongo
python-dotenv
pytz
